// COLORS
$darkGrayBlack: hsl(0, 0%, 11%) ;
$lightGrayBlack: hsl(0, 0%, 16%);
$veryLightGrayBlack: hsl(0, 0%, 25%);
$lightRed : hsl(0, 100%, 50%);

// FONT
$fontStyleUniversal : 'Montserrat', sans-serif;
$fontTitle : 20px ;
$fontSubtitle : 16px;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;